[user]
  name = Roy Zuo
  email = <me@roylez.info>
  signingkey = ~/.ssh/id_ed25519
[color]  # Ensure we get color
  # Ensure we get color
  ui = always
[push]
  default = current
  followTags = true
  autoSetupRemote = true
[alias]
  a   = add
  b   = branch
  c   = commit
  d   = diff
  co  = checkout
  des = describe --tags
  l   = log
  lc  = log --graph --pretty=format:'%Cred%h%Creset [%C(green dim)%G?%Creset]%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%cn%Creset' --abbrev-commit --date=relative
  m   = merge
  pl  = pull
  pu  = push
  s   = status -sb
  t   = tag
  untrack = rm -r --cached
  merge-branch-file = checkout --merge
  rb  = rebase
  undo = reset HEAD --hard
  # https://metalinguist.wordpress.com/2007/12/06/the-woes-of-git-gc-aggressive-and-how-git-deltas-work/
  gca = repack -a -d --depth=250 --window=250
[github]
  user = roylez
[core]
  ; pager = less -FMRiXx4
  pager = delta
  excludesfile = ~/.gitignore
[interactive]
  diffFilter = delta --color-only
[branch]
    ;autosetuprebase = remote
[status]
  submoduleSummary = true
[merge]
  tool = nvim -d
  ; conflictstyle = zdiff3
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = vimdiff
[difftool]
  prompt = false
[diff]
  tool = nvim -d
  algorithm = histogram
[pull]
  rebase = true
[init]
  defaultBranch = master
[commit]
  gpgsign = true
[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = ~/.ssh/allowed_signers
[delta]
  navigation = true
  hyperlinks = true
  hyperlinks-file-link-format = "file://{host}{path}#{line}"
  features = calochortus-lyallii
[include]
  path = ~/.gitconfig.themes
[includeIf "hasconfig:remote.*.url:*canonical/*"]
  path = ~/.gitconfig.work
[includeIf "hasconfig:remote.*.url:*openstack/*"]
  path = ~/.gitconfig.work
