[user]
  name = roylez
  email = <me@roylez.info>
[color]  # Ensure we get color
  ui = always
[push]
  default = current
  followTags = true
[alias]
  a   = add
  b   = branch
  c   = commit
  d   = diff
  co  = checkout
  des = describe --tags
  l   = log
  lc  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%cn%Creset' --abbrev-commit --date=relative
  la  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%cn%Creset' --abbrev-commit --date=relative --all
  m   = merge
  pl  = pull
  pu  = push
  s   = status -sb
  t   = tag
  untrack = rm -r --cached
  merge-branch-file = checkout --merge
  rb  = rebase
  undo = reset HEAD --hard
  # https://metalinguist.wordpress.com/2007/12/06/the-woes-of-git-gc-aggressive-and-how-git-deltas-work/
  gca = repack -a -d --depth=250 --window=250
[github]
  user = roylez
[core]
  # pager = cat
  pager = less -FMRiXx4
  excludesfile = ~/.gitignore
[branch]
    ;autosetuprebase = remote
[status]
  submoduleSummary = true
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
[pull]
  rebase = true
[init]
	defaultBranch = master
