[user]
    name = roylez
    email = me@roylez.info
[color]  # Ensure we get color
    diff   = always
    branch = auto
    status = auto
    grep   = always
[push]
    default = simple
    followTags = true
[alias]
    a   = add
    b   = branch
    c   = commit
    co  = checkout
    d   = diff
    des = describe --tags
    l   = log
    lc  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%cn%Creset' --abbrev-commit --date=relative
    la  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%cn%Creset' --abbrev-commit --date=relative --all
    m   = merge
    pl  = pull
    pu  = push
    s   = status -sb
    t   = tag
    untrack = rm -r --cached
    merge-branch-file = checkout --merge
    rb  = rebase
    undo = reset HEAD --hard
[merge]
    tool = vimdiff
[github]
    user = roylez
[core]
    pager = cat
    excludesfile = ~/.gitignore
[branch]
    ;autosetuprebase = remote
[filter "hawser"]       # added by github
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true
[status]
    submoduleSummary = true
[url "ssh://git@heroku.com/"]
    insteadOf = https://git.heroku.com/
