[user]
    name  = roylez
    email = roylzuo@gmail.com
[color]  # Ensure we get color
    diff   = auto
    branch = auto
    status = auto
    grep   = auto
[push]
    default = matching
[alias]
    a  = add
    b  = branch
    c  = commit
    co = checkout
    d  = diff
    l  = log
    lg = log --graph
    m  = merge
    pl = pull
    pu = push
    s  = status
    t  = tag
[merge]
	tool = gvimdiff
[github]
	user = roylez
