[user]
    name = roylez
    email = me@roylez.info
[color]  # Ensure we get color
    ui = always
[push]
    default = current
    followTags = true
[alias]
    a   = add
    b   = branch
    c   = commit
    d   = diff --color-words
    co  = checkout
    des = describe --tags
    l   = log
    lc  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%cn%Creset' --abbrev-commit --date=relative
    la  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%cn%Creset' --abbrev-commit --date=relative --all
    m   = merge
    pl  = pull
    pu  = push
    s   = status -sb
    t   = tag
    untrack = rm -r --cached
    merge-branch-file = checkout --merge
    rb  = rebase
    undo = reset HEAD --hard
[merge]
    tool = vimdiff
[github]
    user = roylez
[core]
    pager = cat
    excludesfile = ~/.gitignore
[branch]
    ;autosetuprebase = remote
[status]
    submoduleSummary = true
