! vim: fdm=marker

!   themes {{{

Xcursor.theme:          ComixCursors-Black-Regular
!Xcursor.theme:          Obsidian
!*foreground: #DDEEDD
!*foreground: #F6F6F6
!*background: #1C1C1C
!*background: #121212
*cursorColor: #ACEA5C

!            black   red     green   yellow  blue    magenta cyan    white
! normal     0       1       2       3       4       5       6       7       
! bold       8       9       10      11      12      13      14      15

!! husio colors  {{{
!*color0: #0d0d0d
!*color8: #0d0d0d
!*color1: #B73F23
!*color9: #C74B2E
!*color2: #82B94A
!*color10: #82B94A
!*color3: #C5CF43
!*color11: #C5CF43
!*color4: #6C89B1
!*color12: #6C89B1
!*color5: #AA6F90
!*color13: #AA6F90
!*color6: #A673BE
!*color14: #A673BE
!*color7: #EDEDED
!*color15: #EDEDED
! }}}

!-- Tango color scheme   {{{
!*color0: #2e3436
!*color0: #1e1e1e
!*color8: #555753
!*color1: #cc0000
!*color9: #ef2929
!*color2: #4e9a06
!*color10: #8ae234
!*color3: #c4a000
!*color11: #fce94f
!*color4: #3465a4
!*color12: #729fcf
!*color5: #75507b
!*color13: #ad7fa8
!*color6: #0b939b
!*color14: #00f5e9
!*color7: #d3d7cf
!*color15: #eeeeec
! }}}

!Colorful-Neon {{{
!*color0: #5A5A5A
!*color0: #262729
!!*color8: #554444
!*color8: #3E3E3E
!*color1: #FF4747
!*color9: #FF6767
!*color2: #AFC81C
!*color10: #BFC81C
!*color3: #FDD338
!*color11: #F4D461
!*color4: #619AF4
!*color12: #5496FF
!*color5: #5F5A90
!*color13: #826AB1
!*color6: #47E0FF
!*color14: #2ED9FB
!*color7: #FFFFFF
!*color15: #DEDEDE
!}}}

! thayer molokai inspired colors {{{
!*color0: #1b1d1e
!*color8: #505354
!*color1: #f92672
!*color9: #ff5995
!*color2: #82b414
!*color10: #b6e354
!*color3: #fd971f
!*color11: #feed6c
!*color4: #56c2d6
!*color12: #8cedff
!*color5: #8c54fe
!*color13: #9e6ffe
!*color6: #465457
!*color14: #899ca1
!*color7: #ccccc6
!*color15: #f8f8f2
!}}}
 
! Arthur colors -- from Daisuke Aramaki (
! muted tango scheme {{{
!*background: #262729
!*foreground: light grey
!*color0: #3d352a
!*color1: #cd5c5c
!*color2: #86af80
!*color3: #e8ae5b
!*color4: #6495ed
!*color5: #deb887
!*color6: #b0c4de
!*color7: #bbaa99
!*color8: #554444
!*color9: #cc5533
!*color10: #88aa22
!*color11: #ffa75d
!*color12: #87ceeb
!*color13: #996600
!*color14: #b0c4de
!*color15: #ddccbb
!}}}
 
! skwid colors {{{
!*foreground: #DDEEDD
!*background: #1C1C1C
!*color0: #1C1C1C
!*color8: #4d4d4d
!*color1: #D81860
!*color9: #F00060
!*color2: #B7CE42
!*color10: #BDE077
!*color3: #FEA63C
!*color11: #FFE863
!*color4: #66AABB
!*color12: #AACCBB
!*color5: #B7416E
!*color13: #BB4466
!*color6: #5E7175
!*color14: #A3BABF
!*color7: #DDEEDD
!*color15: #6C887A
!}}}

! ---| thayer bright (monokai inspired)|--- {{{
!*color0:                  #181c18
!*color8:                  #555555
!*color1:                  #ff3300
!*color9:                  #ff6655
!*color2:                  #75cc2b
!*color10:                 #95ff58
!*color3:                  #ffe975
!*color11:                 #ffef9c
!*color4:                  #285577
!*color12:                 #6677ff
!*color5:                  #ce5c00
!*color13:                 #f57900
!*color6:                  #3399ff
!*color14:                 #99ccff
!*color7:                  #c4c4c4
!*color15:                 #ffffff
!}}}

! ---| Colorful Obsolescence |--- {{{
!*color0:				#000000
!*color8:				#555555
!*color1:				#EE3C3C
!*color9:				#FF5555
!*color2:				#00BB00
!*color10:				#55FF55
!*color3:				#FFD955
!*color11:				#FFFF55
!*color4:				#5555FF
!*color12:				#008ED1
!*color5:				#992299
!*color13:				#FF55FF
!*color6:				#00AAAA
!*color14:				#00FFFF
!*color7:				#BBBBBB
!*color15:				#FFFFFF
!}}}

! tvale {{{
*background:    #000000
*foreground:    #FFFFFF
!black
*color0 :            #222222
*color8 :            #454545
!red
*color1 :            #B22222
*color9 :            #FA8072
!green
*color2 :            #556B2F
*color10:            #9ACD32
!yellow
*color3 :            #B8860B
*color11:            #DAA520
!blue
*color4 :            #4682B4
*color12:            #6495ED
!magenta
*color5 :            #9932CC
*color13:            #DA70D6
!cyan
*color6 :            #87CEEB
*color14:            #B0E0E6
!white
*color7 :            #C0C0C0
*color15:            #FFFFFF
! }}}

! }}}

!! 设置 Xftp.dpi(字体分辨率） {{{
Xft.dpi:                96 
Xft.hinting:            1
Xft.hintstyle:          hintslight
Xft.antialias:          1
Xft.rgba:               rgb

! }}}

! NETHACK {{{
! Lines beginning with ! are comments and are ignored.
NetHack*font:                   vga
NetHack*autofocus:              true
NetHack*background:             black
NetHack*foreground:             grey
NetHack*map*background:         black
NetHack*map*black:              grey25
NetHack*map*red:                red3
NetHack*map*green:              green3
NetHack*map*brown:              DarkOrange3
NetHack*map*blue:               blue3
NetHack*map*magenta:            magenta3
NetHack*map*cyan:               cyan3
NetHack*map*gray:               gray70
NetHack*map*orange:             yellow
NetHack*map*bright_green:       green
NetHack*map*yellow:             yellow
NetHack*map*bright_blue:        blue
NetHack*map*bright_magenta:     magenta
NetHack*map*bright_cyan:        cyan
NetHack*map*white:              white
! }}}

!  RXVT-unicode {{{
!urxvt setting
URxvt.geometry:		85x30

URxvt.scrollBar:	False
URxvt.scrollstyle:	next
!URxvt.scrollBar_right:	True
! Use shift+pageup/down to scroll in screen
URxvt.secondaryScroll:  True
URxvt.scrollTtyOutput: False
URxvt.scrollTtyKeypress: True
URxvt.scrollWithBuffer: True

!set the artificial transparency of the v.t.
URxvt.inheritPixmap:	True
URxvt.backgroundPixmap:     /home/roylez/meidia/pic/wallpaper/crest.xpm

URxvt.tintColor:	#999
URxvt.fadeColor:        honeydew3
!URxvt.troughColor:      sienna
!URxvt.borderLess:       True
URxvt.cursorBlink:      False
!URxvt.cursorUnderline:  True
!URxvt.cursorColor:      green
URxvt.colorBD:		Wheat
!URxvt.colorUL:		white
URxvt.shading:		30
URxvt.fading:		30
URxvt*underlineURLs:    true

URxvt.saveLines:	1500
!allow double click to select URL
URxvt*cutchars:         "`\"()';@?=,*<>[]{|}"
!this makes urxvt to start faster??
URxvt.preeditType:	Root
!urgent notification
!URxvt.urgentOnBell:     True

!URxvt.keysym.M-v:       command:paste
URxvt.keysym.Delete:       \033[3~

!italicFont and boldItalicFont undefined
!URxvt.font:             xft:Luxi Mono:regular:antialias=True:pixelsize=15, 
URxvt.font:             xft:Monaco:medium:autohint=True:size=10, \
                xft:DejaVu Sans Mono:book:autohint=True:size=10, \
                xft:wenquanyi bitmap song:medium:pixelsize=15:antialias=True
!URxvt.boldFont:         xft:Luxi Mono:bold:antialias=True:pixelsize=15, 
URxvt.boldFont:         xft:Monaco:bold:autohint=True:size=10, \
                xft:DejaVu Sans Mono:bold:autohint=True:size=10, \
                xft:wenquanyi bitmap song:bold:pixelsize=15:antialias=True

! }}}

! xterm {{{ 
!look and feel
xterm.termName: xterm-256color
xterm.title:    xterm
xterm*geometry: 105x33
!xterm*geometry: 100x33
xterm*scrollBar: false
xterm*rightScrollBar: true
xterm*loginshell: true
xterm*borderLess: true
xterm*colorUL: green
xterm*colorBD: wheat
xterm*colorBDMode: false
xterm*colorULMode: false
xterm*veryBoldColors: 4
xterm*cursorBlink: false
xterm*cursorUnderLine: False
xterm*cursorColor: green
!xterm*cursorColor: OliveDrab1
!xterm*cursorColor: RoyalBlue1
!XTerm*cursorColor:DarkSeaGreen3
XTerm*cursorColorBackground:DimGray
XTerm*highlight:LemonChiffon
XTerm*borderColor:SlateGrey

!mouse pointer theme
!XTerm*pointerShape: bogosity
XTerm*pointerShape: pencil
!mkaz.com/ref/xterm_colors.html
XTerm*pointerColor: azure

!saved scrollback
xterm*saveLines: 1000
xterm*fastScroll: true

!highlight selected area
xterm*highlightSelection: true

!fix alt and del key input 
xterm*eightBitInput: false
xterm*altSendsEscape: true
xterm*metaSendsEscape: true
!use ^[[3~ for delete
xterm*deleteIsDEL: false    
XTerm*ttyModes: erase 

!print color and bold/underline attributes
xterm*printAttributes: 2
xterm*printerCommand: cat > ~/xtermdump
!xterm*printerCommand: cat |urlview

!copy&paste related
!set SELECT to CLIPBOARD
!xterm*selectToClipBoard: true   
xterm*trimSelection: true
!mouse selecting to copy, alt-v to paste,
!Ctrl p to print screen content to file
!~Shift~Ctrl<Btn2Up> define middle click!!
XTerm*VT100.Translations: #override \
    Mod1 <KeyPress> V: insert-selection(CLIPBOARD,PRIMARY,CUT_BUFFER1) \n\
    ~Shift ~Ctrl<Btn2Up>: insert-selection(CLIPBOARD,PRIMARY,CUT_BUFFER1) \n\
    ~Shift <BtnUp>: select-end(CLIPBOARD,PRIMARY,CUT_BUFFER1) \n\
    Ctrl <KeyPress> F9: print() \n

!use mouse wheel to scroll back in GNU Screen, use win key
XTerm*VT100.translations: #override\
    Mod4 <Btn5Down>,<Btn5Up>: string(0x5)\n\
    Mod4 <Btn4Down>,<Btn4Up>: string(0x19) 

!font and locale
xterm*locale: true
xterm.utf8: true
xterm*utf8Title: true
xterm*fontMenu*fontdefault*Label: Default
!xterm*faceName: Monaco:antialias=True:pixelsize=14
xterm*faceName: Monaco:antialias=True
!xterm*faceName: monofur:antialias=True:pixelsize=16
!xterm*faceName: DejaVu Sans Mono:antialias=True:pixelsize=15
!xterm*faceNameDoublesize: Droid Sans Fallback:pixelsize=16:antialias=True
xterm*faceNameDoublesize: WenQuanYi Micro Hei Mono:antialias=True:pixelsize=15.8
!xterm*faceNameDoublesize: Wenquanyi Bitmap Song:pixelsize=15:antialias=True
!xterm*faceNameDoublesize: YaHei Consolas Hybrid:pixelsize=16:antialias=True
xterm*xftAntialias: true
xterm*faceSize:     10
!xterm*jkWidth:false 
!xterm*mkWidth:false

!allow selecting email/url by double click
XTerm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48

XTerm*visualBell: true
!urgent trigger
!XTerm*bellIsUrgent: true

! }}}

! {{{              GNUPLOT 
!
gnuplot*background:  white
gnuplot*textColor:   black
gnuplot*borderColor: black
gnuplot*axisColor:   black
gnuplot*line1Color:  red
gnuplot*line2Color:  green
gnuplot*line3Color:  blue
gnuplot*line4Color:  magenta
gnuplot*line5Color:  cyan
gnuplot*line6Color:  sienna
gnuplot*line7Color:  orange
gnuplot*line8Color:  coral
gnuplot*borderWidth: 2
gnuplot*axisWidth:   1
gnuplot*line1Width:  1
gnuplot*line2Width:  1
gnuplot*line3Width:  1
gnuplot*line4Width:  1
gnuplot*line5Width:  1
gnuplot*line6Width:  1
gnuplot*line7Width:  1
gnuplot*line8Width:  1

!}}}
