snippet today "Today"
  ## `strftime('%Y.%m.%d - Week %U - %A')`

  $0

snippet meetings "Meetings"
  - 10am AMER sync
  - [ ] cases
  - 1:30pm daily sync
  - 4:30pm EMEA sync

# snippet tomorrow "Tomorrow"
#   ## `!l os.date('%Y.%m.%d - Week %U - %A', os.time() + 24*60*60)`
#
#   $0
