snippet @tom Tomorrow
  @due(`!lua os.date("%Y-%m-%d", os.time()+24*3600)`)

snippet @nextw Next Week
  @due(`!lua os.date("%Y-%m-%d", os.time()+7*24*3600)`)

snippet @nextm Next Month
  @due(`!lua os.date("%Y-%m-%d", os.time()+30*24*3600)`)

snippet @nexty Next Year
  @due(`!lua os.date("%Y-%m-%d", os.time()+365*24*3600)`)

snippet @next6m Next Six Month
  @due(`!lua os.date("%Y-%m-%d", os.time()+183*24*3600)`)
